{% extends "catalog.html" %} 

{% load catalog_filters %} 
{% block content %} 
<table summary="Your Shopping Cart" id="shopping_cart"> 
    <cap>Your Shopping Cart</cap> 
    <thead> 
    <tr> 
        <th scope="col">Product</th> 
        <th scope="col">Price</th> 
        <th></th> 
        <th></th> 
        <th></th> 
        <th scope="col" class="right">Total</th> 
    </tr> 
    </thead> 
    <tfoot> 
    <tr> 
        <th class="right" colspan="5"> 
        Cart Subtotal: 
        </th> 
        <th class="right"> 
        {{ cart_subtotal|currency }} 
        </th> 
    </tr> 
    {% if cart_items %} 
    <tr> 
        <th class="right" colspan="6"> 
            <div id="paypal-button-container"></div>

              <!-- Include the PayPal JavaScript SDK -->
              <script
                  src="https://www.paypal.com/sdk/js?client-id=AdE9sYrds9a_h-oiqLfJBWUsq2DRnbOgVtFwZva40phqLSlBEf8FUCll1p-X3shTXHUKNJyWt6jYMfd4&currency=USD">
              </script>

              <script>
                  // Render the PayPal button into #paypal-button-container
                  paypal.Buttons({

                      // Set up the transaction
                      createOrder: function (data, actions) {
                          return actions.order.create({
                              purchase_units: [{
                                  amount: {
                                      value: '50'
                                  }
                              }]
                          });
                      },

                      // Finalize the transaction
                      onApprove: function (data, actions) {
                          return actions.order.capture().then(function (details) {
                              // Show a success message to the buyer
                              alert('Transaction completed by ' + details.payer.name
                                  .given_name + '!');
                          });
                      }


                  }).render('#paypal-button-container');
              </script>

          </div>
        </th> 
    </tr>   
    {% endif %} 
    </tfoot> 
    <tbody> 
    {% if cart_items %} 
        {% for item in cart_items %} 
        <tr> 
        <td> 
            <a href="{{ item.get_absolute_url }}" class="cart"> 
            {{ item.name }} 
            </a> 
        </td> 
        <td>{{ item.price|currency }}</td> 
        <td class="right"> 
        <form method="post" action="." class="cart"> 
        {% csrf_token %}
        <label for="quantity">Quantity:</label> 
        <input type="text" name="quantity" value="{{ item.quantity }}" id="quantity" 
            size="2" class="quantity" maxlength="5" /> 
        <input type="hidden" name="item_id" value="{{ item.id }}" /> 
        </td> 
        <td> 
        <input type="submit" name="submit" value="Update" /> 
        </form> 
        </td> 
        <td> 
        <form method="post" action="." class="cart"> 
        {% csrf_token %}
        <input type="hidden" name="item_id" value="{{ item.id }}" /> 
        <input type="submit" name="submit" value="Remove"/> 
        </form> 
        </td> 
        <td class="right">{{ item.total|currency }}</td> 
    </tr> 
    {% endfor %} 
    {% else %} 
    <tr> 
        <td colspan="6" style="height:30px;"> 
        Your cart is empty. 
        </td> 
    </tr> 
    {% endif %} 
    </tbody> 
</table> 
{% endblock %} 